<div class="row">
  <div class="col">
    <h1>New Reply</h1>
    <%= render partial: 'shared/tweet_card', locals: {tweet: @tweet} %>
  </div>

  <div class="col">
    <div style="margin-top: 57px;">
      <%= form_for [@tweet, @reply] do |form| %>
        <div class="form-group">
          <%= form.text_area :text, class: 'form-control', placeholder: 'Entry your reply' %>
        </div>
        <%= form.submit "Reply", class: 'btn btn-primary', data: {disable_with: 'Replying...'} %>
      <% end %>
    </div>
  </div>
</div>
