<div class="row">
  <% @twitter_accounts.each do |twitter_account| %>
    <div class="col">
      <%= twitter_account.screen_name %>
    </div>
  <% end %>
</div>

<%= link_to "Watch A New Twitter Account", new_twitter_account_path %>
